.features {
    color: $color-primary;
    text-align: center;

    .cards {
        @include flex(flex-start, space-evenly);
        margin-bottom: 50px;

        .card-feature {
            width: 25%;

            i {
                color: $color-icon;
                font-size: 45px;
                margin: 20px 0;
            }
        }
    }

}