.header {
    background-image: linear-gradient(#185359, #2C6C73, #185359);
    color: $color-secondary;
    top: 0; left: 0;
    padding-top: 120px;
    overflow: hidden;

    .container {
        @include flex(center, center);
    }

    .header-img {
        @extend %flexDiv;
        text-align: center;

        img {
            height: 500px;
            margin-bottom: -150px;
        }
    } 
    
    .header-text {
        @extend %flexDiv;
    }

    .btn-apple {
        @include button(10px, 20px, $color-secondary, $color-primary);
        margin-left: 0;
    }

    .btn {
        @include button(0, 0, transparent, $color-bg-secondary);
        font-size: 28px;
    }

}