@mixin flex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin button($pd-y, $pd-x, $bg, $text) {
    padding: $pd-y $pd-x;
    background: $bg;
    color: $text;
    margin: 40px 10px;
    border: none;
    border-radius: 5%;
    text-transform: capitalize;
    font-size: $font-size-text;
    cursor: pointer;
}

@mixin title($fontSize, $transform, $color) {
    font-size: $fontSize;
    text-transform: $transform;
    color: $color;
    margin: 20px 0;
    font-weight: normal;
}