.navbar {
    position: absolute;
    width: 100%;

    .container {
        @include flex(center, space-between);
        padding: 10px 0;
    }

    .nav-logo {
        @include flex(center, center);
        color: $color-secondary;
        font-weight: bold;

        img {
            width: 50px;
            margin-right: 10px;
        }
    }

    a {color: $color-bg-secondary;}

    p {
        margin: 0;
        width: 70px;
        font-size: 16px;
    }
}