//color
$black: #000;
$white: #fff;
$lightGray: rgb(228, 228, 228);
$gray: gray;
$blue: #5da09c;

$color-primary: $gray;
$color-secondary: $white;
$color-icon: $blue;
$color-bg-secondary: $lightGray;
$color-title: $black;

//size
$font-size-text: 14px;