//color
$black: #000;
$white: #fff;
$gray: #ccc;
$blue: #5da09c;

$color-primary: $black;
$color-secondary: $white;
$color-icon: $blue;
$color-bg: $gray;

//size
$padding: 40px;
$font-size-text: 16px;
$font-size-title: 30px;