.header .header-img, .header .header-text, .description .container .description-text, .description .container .description-img {
  width: 50%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

li + li {
  margin-left: 20px;
}

h2 {
  font-size: 30px;
  text-transform: unset;
  color: #fff;
  margin: 20px 0;
  font-weight: normal;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  margin: 20px 0;
  font-weight: normal;
}

h5 {
  font-size: 14px;
  text-transform: unset;
  color: gray;
  margin: 20px 0;
  font-weight: normal;
  font-weight: bold;
}

section {
  padding: 30px 0;
}

.container {
  margin: 0 auto;
  width: 70%;
}

@media screen and (max-width: 420px) {
  .container {
    width: 90%;
  }
}

.navbar {
  position: absolute;
  width: 100%;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.navbar .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
}

.navbar .nav-logo img {
  width: 50px;
  margin-right: 10px;
}

.navbar a {
  color: #e4e4e4;
}

.navbar p {
  margin: 0;
  width: 70px;
  font-size: 16px;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#185359), color-stop(#2C6C73), to(#185359));
  background-image: linear-gradient(#185359, #2C6C73, #185359);
  color: #fff;
  top: 0;
  left: 0;
  padding-top: 120px;
  overflow: hidden;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-img {
  text-align: center;
}

.header .header-img img {
  height: 500px;
  margin-bottom: -150px;
}

.header .btn-apple {
  padding: 10px 20px;
  background: #fff;
  color: gray;
  margin: 40px 10px;
  border: none;
  border-radius: 5%;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  margin-left: 0;
}

.header .btn {
  padding: 0 0;
  background: transparent;
  color: #e4e4e4;
  margin: 40px 10px;
  border: none;
  border-radius: 5%;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  font-size: 28px;
}

.clients {
  background-color: #e4e4e4;
  color: gray;
  text-align: center;
}

.clients .container li {
  padding-top: 40px;
}

.description {
  color: gray;
  overflow: hidden;
}

.description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .container .description-text p {
  margin-bottom: 20px;
}

.description .container .description-img img {
  width: 800px;
  margin-left: 80px;
}

.features {
  color: gray;
  text-align: center;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}

.features .cards .card-feature {
  width: 25%;
}

.features .cards .card-feature i {
  color: #5da09c;
  font-size: 45px;
  margin: 20px 0;
}

.footer {
  background-color: gray;
  color: #e4e4e4;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container a {
  color: #e4e4e4;
}

.footer .container i {
  font-size: 24px;
  padding: 0 5px;
}
/*# sourceMappingURL=style.css.map */